[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-protobuf = "==2.7.0"
grpcio = "==1.42.0"
gunicorn = "*"
flask = "*"
protobuf = "==3.19.0"
numpy = "*"
requests = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
